<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
           id="com.wunwun.plugins.dwolla-ios"
      version="1.0.0">

  <name>DwollaOauthPlugin</name>
  <author>Calvin Lai</author>
  <description>Wraps dwolla-ios for PhoneGap/Cordova.</description>

  <js-module src="www/dwolla-oauth-plugin.js" name="DwollaOauth">
    <clobbers target="plugins.dwollaOauth" />
  </js-module>

  <!-- ios -->
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="DwollaOauthPlugin">
        <param name="ios-package" value="DwollaOauthPlugin" />
      </feature>
    </config-file>
    <header-file src="src/ios/DwollaOauthPlugin.h" />
    <source-file src="src/ios/DwollaOauthPlugin.m" />
  </platform>

</plugin>
